@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 250 250;
    --foreground: 24 24 27;
  }

  body {
    @apply bg-neutral-50 text-zinc-900 antialiased;
  }
}

@layer components {
  .container-main {
    @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
